<h1>burgers!</h1>

<h2>burgers that are not reorder!</h2>

<ul>
  {{#each burgers}}
    {{#unless reorder}}
      {{> burgers/burger-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are reorder!</h2>

<ul>
  {{#each burgers}}
    {{#if reorder}}
      {{> burgers/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">
<!--  THIS IS WHERE LOGIC BREAK ON ADDING FIND WHERE reorder QUALIFIER IS  -->
  <div class="form-group">
    <label for="ca">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="reorder">reorder?</label><br>
    <input type="radio" name="reorder" value="1" checked> reorder!<br>
    <input type="radio" name="reorder" value="0"> Awake
  </div>

  <button type="submit">Add burger</button>
</form>
